#!/bin/bash

export JAVA_HOME=`/usr/libexec/java_home`
exec {{ bambooagent_additional_environment | join(" ") }} \
    $JAVA_HOME/bin/java \
        {{ bambooagentjava_additional_options | join(" ") }} \
        -jar {{ bambooagent_jar_filename_full_path }} \
        {{ bamboo_server_url }}/agentServer/ \
        {{ bamboo_agent_security_token | ternary('-t ' + bamboo_agent_security_token,'') }}
